<template>
    <div class="big">
        <img class="big1" style='width: 100%;height: 100%;left: 0px;' :src="song.songs[0].al.picUrl" alt="">
        <div class="tou">
          <div class="w" style='color: white !important;font-size: 44rpx !important;' >
                <ul class="flex" style="justify-content: space-between;" >
                <li class="ts" @click="hui" ><van-icon name="arrow-left" /></li>
                <li class="user" >
                    <p><van-notice-bar class="dong" scrollable background="transparent" :text="pinia.playmusic[pinia.playmucindex].al.name" /> </p>
                   <p class="pp" style='margin-top: 30rpx;font-size: 30rpx !important;' > {{song.songs[0].al.name}}</p>
                </li>
                <li class="ts" ><van-icon name="share-o" /></li>
                </ul>
          </div>
        </div>
       <div class="gepan" @click=" flag = true "  v-show="!flag"  >
            <img :class="musicauto ? 'bang1':'bang'" style='width: 150rpx;height: 250rpx;' src="../../static/3.png" alt="">
            <img class="ground" style='width: 450rpx;height: 450rpx;'  src="../../static/2.png" alt="">
            <img class="pan" style='width:282rpx;height:278rpx;left: 248rpx;margin-top: 6rpx; !important' :class="musicauto ?'active1' :'active'" :src="song.songs[0].al.picUrl" alt="">
       </div>
       <div class="gepan" @click="flag = false" v-show="flag">
            <p class="lyric" v-for="(item,i) in lyrics" :key="i"  >{{item.lrcs}}</p>
            
       </div>
       <footer>
           <div class="w">
			   
               <ul  class="top flex" style="justify-content: space-between;color: white !important;font-size: 44rpx !important;" >
                   <li><van-icon name="like-o" /></li>
                   <li><van-icon name="down" /></li>
                   <li><van-icon   name="video-o"  /></li>
                   <li><van-icon name="cash-o" /></li>
                   <li><van-icon name="ellipsis" /></li>
               </ul>
               <ul class="zhong flex" style="justify-content: space-between;" >
                   <li>{{startTime}}</li>
                   <li class="ts" >
                       <van-progress
  :percentage="bai"
  stroke-width="2"
  :show-pivot="false"
  pivot-color="#7232dd"
  color="linear-gradient(to right, #be99ff, #7232dd)"
/>
                   </li>
                   <li>{{weitime}}</li>
               </ul>
               <ul class="xia flex" style="justify-content: space-between;color: white !important;font-size: 44rpx !important;" >
                   <li><van-icon name="replay" /></li>
                   <li><van-icon name="arrow-left" @click="change({type:'del'})" /></li>
                   <li class="ts1"  style='margin-top:-30rpx ;font-size: 90rpx !important;' @click="paly(!musicauto)" ><van-icon :name="!musicauto?'pause-circle-o':'play-circle-o'" /></li>
                   <li><van-icon name="arrow"  @click="change({type:'add'})"  /></li>
                   <li><van-icon name="ellipsis" /></li>
               </ul>
           </div>
       </footer>

    </div>
</template>

<script>
	import dayjs from "dayjs"
	import PubSub from 'pubsub-js'
	import {plays,play,playAuido} from "@/common/wjh_home.js"
	export default {
		data() {
			return {
				song:'',
				flag:false,
				musicauto:false,
				url:'',
				playAudio:'',
				id:'',
				times:'',
				weitime:'',
				weitime1:'',
				startTime:'',
				startTime1:'',
				bai:''
				}
		},
		methods: {
			hui(){
				uni.navigateBack({delta:1})
			},
			fang(){
				
			},
			paly(val){
				
				this.musicauto = val
			   if(this.musicauto ){
				  this.playAudio.pause()
			   }else{
				   this.playAudio.src = this.url
				   this.playAudio.title = this.song.songs[0].al.name
			   }
			},
			change(val){
				let obj = {
					type:val.type,
					id:this.id
				}
				PubSub.publish('MY TOPIC',obj);
			}
			
		},
		
		onLoad(optios) {
			this.id = optios.id
			Promise.all([play(optios.id),plays(optios.id),playAuido(optios.id)]).then(res=>{
				this.song = res[0]
				this.url = res[2].data[0].url
				this.paly(false)
				this.weitime1 = res[0].songs[0].dt
				this.weitime = dayjs(res[0].songs[0].dt).format('mm:ss')
			})
			this.playAudio = uni.getBackgroundAudioManager()
			this.playAudio.onPlay(()=>{
				this.musicauto = false
			})
			this.playAudio.onPause(()=>{
				this.musicauto = true
			})
			PubSub.subscribe('id',(res,req)=>{
				this.id = req
				Promise.all([play(req),plays(req),playAuido(req)]).then(res=>{
					this.song = res[0]
					this.url = res[2].data[0].url
					this.paly()
				})
			})
			this.playAudio.onTimeUpdate(()=>{
			this.startTime1 = this.playAudio.currentTime
			this.startTime = dayjs(this.playAudio.currentTime * 1000 ).format('mm:ss')
			this.bai = parseInt((this.startTime1/this.weitime1  * 100000))
			})
		}
	}
</script>

<style lang="scss" scoped>
.playlyr{
    font-size: 1.25rem;
    color: red;
}
@keyframes zhuan {
    0%{
        transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}
.active{
   animation: zhuan 10s linear infinite;
}
.active1{
       animation: zhuan 10s linear infinite;
animation-play-state: paused;
}

.gepan{
    margin-top: 2.5rem;
    overflow: auto;
    width: 100%;
    height: 25rem;
    .lyric{
  text-align: center;
  margin: .5rem 0px;
  color: white;
    }
}
.tou{
    .w{
        ul{
             color: white;
            li{
                i{
                    font-size: 1.5rem;
                }
            }
            .ts{
                margin-top: 1rem;
            }
            .user{
                
                width: 60%;
                font-size: .75rem;
                p{
                     font-size: 1.5rem;  
                }
                div{
                     color: white;
                }
                .pp{
                    font-size: .75rem  !important;  
                    width: 100%;
                       text-align: center;
                }
                .dong{
                    width: 100% !important;
                    font-size:1.25rem; 
                }
            }
        }
    }
}
.big{
    width: 100%;
    height: 100%;
    .big1{
        position: fixed;
        top: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
        filter: blur(2rem)
    }
}
.bang{
    position: fixed;
    top: 14%;
    left: 48%;
    width: 4.4rem;
    z-index: 999;
    transform-origin: 16px 0;
    transform: rotate(0deg);
    transition: .5s all;
}
.bang1{
    transition: .5s all;
    position: fixed;
    top: 14%;
    left: 48%;
    width: 4.4rem;
    z-index: 999;
      transform-origin: 16px 0;
    transform: rotate(-25deg);
}
.ground{
       position: fixed;
    top: 24%;
    left: 22%;
    width: 14rem;
   
}
.pan{
    position: fixed;
    top: 30%;
    left: 32.9%;
    width: 9rem;
    border-radius:50%; 
 
}
footer{
    position: absolute;
    bottom: 2.5rem;
    .w{
        .top{
            width: 80%;
            margin: 0 auto;
            i{
                font-size: 1.3rem !important;
                color:white
            }
        }
        .zhong{
            padding:  20px;
            color: white;
             width: 90%;
              margin: 0 auto;
            font-size:.75rem; 
            .ts{
                margin-top: .3125rem;
                width: 65%;
            }
        }
        .xia{
              width: 85%;
              margin: 0 auto;
              i{
                  font-size: 1.775rem;
                  color:white;
              }
              .ts1{
                 i{
                margin-top: -0.625rem;
                 font-size: 3rem;
                  color:white;
                 }
              }
        }
    }
}
.pp{
	font-size: 50rpx;
}
</style>
