<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	@import '@/static/normalize.css'
	@import "/wxcomponents/vant/dist/common/index.wxss";
	/*每个页面公共css */
	.fl {
	  float: left;
	}
	
	.fr {
	  float: right;
	}
	.clearfix::after {
	  content: "";
	  display: block;
	  clear: both;
	  height: 0;
	  line-height: 0;
	  visibility: hidden;
	}
	.w{
		width: 95%;
		margin: 0px auto;
	}
	.flex {
	    display: flex;
	            flex-direction: row;
	            justify-content: space-around;
	            flex-wrap: wrap;
	}
	 header,nav,section,footer,banner{
	        width: 100%;
	    }
	 /* 点击出现手 */
	.shou{
	cursor:pointer;}
	/* 防止文本域拖拽*/
	.wby{ resize:none;}
	/* 单行文本隐藏 */
	.textyc{
	    /* 多余部分隐藏 */
	    overflow: hidden;
	    /* 控制文本不换行 */
	    white-space: nowrap;
	    /* 文本溢出显示省略号 */
	    text-overflow: ellipsis;
	}
	.textyc2{
	     /* 多余部分隐藏 */
	     overflow: hidden;
	     /* 文本溢出显示省略号 */
	     text-overflow: ellipsis;
	     /* 让里面的内容弹性布局 */
	     display: -webkit-box;
	     /* 要显示的行数 */  
	   -webkit-line-clamp: 2;
	   -webkit-box-orient: vertical; 
	}
	.aa::before{
	            content: '\e6b5'  ; 
	            font-family:'iconfont' !important ;
	        }
	
	
</style>
