<template>
	<div class="box">
		<div class="top">
			<p>登录遇到问题</p>
			<p>立即体验</p>
		</div>
		<div class="black">
			<img class="imgs" src="../../static/logo.png" alt="">
		</div>
		<div class="from">
		<van-field
		   v-model="{{ mobile }}"
		   placeholder="请输入用户名"
		 />
		   <van-field
		     model:value="{{ sms }}"
		     center
		     clearable
		     label="短信验证码"
		     placeholder="请输入验证码"
		     use-button-slot
		   >
		     <van-button slot="button" size="small" type="primary">
		       发送验证码
		     </van-button>
		   </van-field>
				</div>
		<div class="footer">
			<p><radio  :checked="check"  @click="check=!check" /> 同意服务条款、隐私政策、中国联通认证服务条款</p>
		</div>
	</div>
</template>
<script>
	import {toplist} from '@/common/api.js'
	export default {
			
		data(){
		return{
			check:false,
			mobile:"",
			sms:""
		}
		},
		onLoad() {
			toplist()
		}
}
</script>

<style lang="scss">
	.box {
		background-color: rgb(255, 35, 35);
	}

	.top {
		font-size: 16px;

		color: #fff;
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
		opacity: .7;
		margin-bottom: 40px;
	}

	.black {
		color: #fff;
		width: 20%;
		margin: 0 auto;

		.imgs {
			height: 64px;
			width: 100%;
			color: #fff;
		}
	}

	.footer {
		font-size: 12px;
		color: #fff;
	}
</style>
