<template>
    <div>
      <div >
            <div class="top">
              <header>
           <img class="imgs"  :src="arr.playlist.coverImgUrl" alt="">
            <div class="w tou ">
            <ul class="clearfix ul" >
            <li class="left fl" >
                <span class="span1" @click="fan" ><van-icon name="arrow-left" /></span>
                <span class="span2" >歌单</span>
            </li>
            <li class="right fr " >
                <span class="span1" ><van-icon name="search" /></span>
                <span class="span2" ><van-icon name="ellipsis" /></span>
            </li>
            </ul>
            <div class="box clearfix" style='margin-left: 20rpx;'  >
                <div class="box1 fl ">
                    <img style='height: 200rpx;' :src="arr.playlist.coverImgUrl" alt="">
                </div>
                <div class="box2 fl" style='height: 100px;' >
                   <p> {{arr.playlist.name}}</p>
                   <ul class="user flex" >
                       <li class="userurl" ><img style='height: 46rpx;' :src="arr.playlist.creator.avatarUrl" alt=""></li>
                       <li class="name" >{{arr.playlist.creator.nickname}}</li>
                       <li class="jia" ><a href="#"><van-icon name="plus" /></a></li>
                   </ul>
                   <div class="di">介绍:{{arr.playlist.creator.signature}}</div>
                </div>
                <div class="box3 fl">
                    <van-icon name="share-o" />
                </div>
            </div>
           </div>
      </header>
             <ul class="flex capsule" >
         <li><span><van-icon name="smile-comment-o" /></span>13</li>
         <div class="ts"></div>
        <li><span><van-icon name="envelop-o" /></span>评论</li>
        <div class="ts"></div>
        <li><span><van-icon name="link-o" /></span>分享</li>
      </ul>
        </div>
    <section>
        <div class="w">
            <div class="tou clearfix">
                <div class="left fl ">含<span>104</span>首VIP专属歌曲</div>
                <div class="right fr"> VIP首月3元<van-icon name="arrow" /></div>
            </div>
            <div class="box clearfix"  >
                <div class="left fl ">
                    <span class="span1" > <van-icon name="play-circle" /> </span>
                    <span class="span2" >播放全部({{arr.playlist.trackCount}})</span>
                </div>
                <div class="right fr">
                    <span class="span1" ><van-icon name="down" /></span>
                    <span class="span2" ><van-icon name="certificate" /></span>
                </div>
            </div>
            <div class="box clearfix"  v-for="(item,i) in list" :key="i"   >
                <div class="left fl " @click="goplay(item.id,i)" >
                    <span class="span1 fl"  > {{i+1}} </span>
                    <span class="span2  span3 const fl" >
                       <p>{{item.name}}</p>
                       <p class="p2" >{{item.ar[0].name}}</p>
                    </span>
                </div>
                <div class="right fr">
                    <span class="span1" ><van-icon name="play-circle-o" /></span>
                    <span class="span2" ><van-icon name="ellipsis" /></span>
                </div>
            </div>
        </div>
    </section>
    <div class="di"></div>
      </div>
    </div>
</template>
<script>
	import PubSub from 'pubsub-js'
	import {song,allsong} from "@/common/wjh_home.js"
	export default {
		data() {
			return {
				arr:'',
				list:'',
				index:0
			}
		},
		methods: {
			fan(){
				uni.navigateBack({
				  delta: 1
				})
			},
			goplay(id,i){
				 this.index = i
			
					uni.navigateTo({
						url:'../Details/Details?id='+id
					})
			},
		},
		onLoad(option) {
		song(option.id).then((res=>{
			this.arr = res
		}))
		allsong(option.id).then((res=>{
			 this.list = res.songs
		}))
		PubSub.subscribe('MY TOPIC', (res,req)=>{
			this.index = this.list.findIndex(item=>{
				return item.id == req.id
			})
			if(req.type == 'add'){
				this.index++
			}else{
				this.index--
			}
			if(this.index < 0){
				this.index = this.list.length-1
			}
			if(this.index > this.list.length-1 ){
				this.index = 0
			}
		   PubSub.publish('id',this.list[this.index].id);
		});
		}
	}
</script>

<style lang="scss" scoped >
.di{
    height: 3.375rem;
}
.play{
    padding: .325rem 0px;
    background: white;
    position: fixed;
    bottom: 0rem;;
    width: 100%;
}
.top{
    position: relative;
}
    header{
        position: relative;
        height: 200px;
        overflow: hidden;
        border-radius:0px 0px 3% 3%; 
        .tou{
            width: 100%;
            position: absolute;
            top: 10px;
            .ul{
                color:white ;
                .left,.right{
                        .span1{
                            i{
                                line-height: 1.125rem;
                                font-size:1.35rem !important; 
                                font-weight: 900;
                            }
                        }
                        .span2{
                            margin-left: .9375rem;
                              font-size:1.125rem !important; 
                              font-weight: 900;
                        }
                    }
            }
            .box{
                margin-top: 2rem;
                .box1{
                    width: 30%;
                    
                    img{
                        width: 100%;
                        border-radius:.625rem; 
                    }
                }
                .box2{
                   
                    width: 50%;
                    font-weight: 600;
                    line-height: 20px;
                    box-sizing: border-box;
                    padding: .325rem;
                    padding-left: 15px;
                    color: white;
                    font-size:14px;
                    p{
                         height: 2.5rem;
                    } 
                    .user{
                        margin-top: 10px;
                        width: 10rem;
                        .userurl{
                            width: 15%;
                            img{
                                width: 100%;
                                border-radius:50%; 
                            }
                        }
                        .name{
                            overflow: hidden;
    /* 控制文本不换行 */
    white-space: nowrap;
    /* 文本溢出显示省略号 */
    text-overflow: ellipsis;
                        width: 50%;
                         font-weight: 600;
                        line-height: 1.5rem;
                    }
                    .jia{
                        width: 20%;
                      
                        a{
                            display: inline-block;
                            padding: 0px 8px;
                            background-color: rgba(255, 255, 255, 0.608);
                            border-radius:10px; 
                            i{
                                color: white;
                                font-weight: 500;
                            }
                        }
                    }
                    }
                    .di{
                        overflow: hidden;
    /* 控制文本不换行 */
    white-space: nowrap;
    /* 文本溢出显示省略号 */
    text-overflow: ellipsis;
                        margin-top: 2px;
                        box-sizing: border-box;
                        padding-left: 4px;
                        font-size:.75rem 
                    }
                    
                }
                .box3{
                     box-sizing: border-box;
                    padding-left: 2rem;
                    i{
                        color: white;
                        line-height: 1.875rem;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
    .imgs{
        filter: blur(1rem);
        width: 100%;
    }
    .capsule{
        text-align: center;
        position: absolute;
        left: 16%;
        bottom: -1.25rem;
        width: 70%;
        height: 40px;
        background: #f8fbfa;
        border-radius:1.875rem; 
        line-height: 40px;
        font-size: .8rem;
        i{  
            
            box-sizing: border-box;
           margin-top: 8px;
            font-size: 1.3rem;
            padding-right: 5px;
        }
        .ts{
            margin-top: 10px;
            width: .5px;
            height: 1rem;
            background-color: #ccc;
        }
        li{
            width: 32%;
        }
    }
    section{
        margin-top: 1.25rem;
        box-sizing: border-box;
        padding-top: 10px;
        .tou{
            border: .5px solid #ccc;
            height: 2.5rem;
            border-radius:10px; 
            line-height: 2.5rem;
             font-size:.875rem;
            box-sizing: border-box;
            padding-left: 10px;
            .left{
                span{
                    
                    color: #6282a4;
                }
            }
            .right{
                font-size:.8125rem;
                color: #ccc;
            }
        }
        .box{
            margin-top: .3125rem;
            height: 2.5rem;
            .left{
                width: 80%;
    
               .span1{
                   width: 10%;
                     display: inline-block;
                   line-height: 30px;
                   font-size: 1.25rem;
                   color: red;
               }
               .span2{
                  width: 80%;
                   display: inline-block;
                  
                   p{
                       
                       overflow: hidden;
                    /* 控制文本不换行 */
                   white-space: nowrap;
    /* 文本溢出显示省略号 */
                   text-overflow: ellipsis;
                   }
                   .p2{
                       font-size: 12px;
                   }
                   font-size: 1rem;
                   padding-left: .8rem;
               }
                .span3{
                    width: 80%;
               }
            }
             .right{
               .span1{
                   font-size: 1.25rem;
                   font-weight: 900;
                   color: #666;
               }
              
               .span2{
                   font-weight: 900;
                   color: #666;
                   font-size: 1.25rem;
                   padding-left: .8rem;
               }
            }
        }
    }
   
</style>
