<template>
	<div>
		<!-- 头部搜索部分 -->
		<div class="w_top">
			<van-row>
			  <van-col span="2" style='text-align: center;' >
				  <van-icon name="bar-chart-o" />
			  </van-col>
			  <van-col span="20">
				  <van-search  placeholder="请输入搜索关键词" />
			  </van-col>
			  <van-col span="2">
				  <van-icon name="like-o" />
			  </van-col>
			</van-row>
		</div>
		<div class="ding"></div>
		<!-- 轮播图部分 -->
		<div class="banner">
			<div class="w">
				 <swiper :indicator-dots="indicatorDots"
				        :autoplay="autoplay" :interval="interval" :duration="duration">
				        <block v-for="(item,i) in banner.banners" :key="i">
				          <swiper-item>
				            <image class="img" :src="item.imageUrl" mode=""></image>
				          </swiper-item>
				        </block>
				      </swiper>
			</div>
		</div>
		<!-- nav部分 -->
		<div class="w w1">
			<ul class='nav'  >
				<li>
					<div class='quan' ><image class="image" src='../../static/wjh-img/日历_calendar-thirty.png' mode=""></image></div>
					<p>每日推荐</p>
				</li>
				<li>
					<div class='quan' ><image class="image" src='../../static/wjh-img/收音机_broadcast-radio.png' mode=""></image></div>
					<p>私人FM</p>
				</li>
				<li>
					<div class='quan' ><image class="image" src='../../static/wjh-img/音频文件_audio-file.png' mode=""></image></div>
					<p>歌单</p>
				</li>
				<li>
					<div class='quan' ><image class="image" src='../../static/wjh-img/排行榜_ranking-list.png' mode=""></image></div>
					<p>排行榜</p>
				</li>
				<li>
					<div class='quan' ><image class="image" src='../../static/wjh-img/育儿书_parenting-book.png' mode=""></image></div>
					<p>有声书</p>
				</li>
				<li>
					<div class='quan' ><image class="image" src='../../static/wjh-img/游戏机_gamepad.png' mode=""></image></div>
					<p>游戏机</p>
				</li>
			</ul>
		</div>
		<van-divider style='position: relative;bottom: 40rpx;' />
		<!-- 推荐歌单 -->
		<div class="w recommend">
			 <div class="tops">
			          <div class="left ">推荐歌单</div>
			          <div class="right">
			            <a href="javascript:;">更多></a>
			          </div>
			</div>
			 <ul>
			          <div
			            v-for="(item, i) in list"
			            :key="i"
			            class="bao"
			          >
			            <li @click="golist(item.id)">
			              <div class="boxs">
			                <img style='height: 200rpx;' :src="item.picUrl" alt="" />
			              </div>
			            </li>
			            <p>{{ item.name }}</p>
			          </div>
			        </ul>
		</div>
		<!-- 推荐歌曲 -->
		 <div class="single">
		      <div class="w">
		        <div class="tops clearfix" style='position: relative;' >
		          <div class="left fl">推荐新音乐</div>
		          <div class="right " style='position: absolute;right: 0px;top: -10rpx;' >
		            <a href="#">播放</a>
		          </div>
		        </div>
		       <ul>
		         <li v-for="(it, index) in list1" :key="index" class="flex">
		           <div class="box1">
		             <img style='height: 200rpx;' :src="it.picUrl" alt="" />
		           </div>
		           <div class="box2">
		             {{ it.name }}
		             <p>--{{ it.song.artists[0].name }}</p>
		           </div>
		           <div class="box3">
		             <van-icon name="play-circle-o zi" />
		           </div>
		         </li>
		       </ul>
		      </div>
		    </div>
	</div>
</template>

<script>
	import { banner,ground,tui,alge } from "@/common/wjh_home.js"
	export default{
		data(){
			return{
				    banner:'',
				    background: ['demo-text-1', 'demo-text-2', 'demo-text-3'],
				    indicatorDots: true,
				    vertical: false,
				    autoplay: false,
				    interval: 2000,
				    duration: 500,
					active:0,
					list:[],
					list1:[]
			}
		},
	 mounted() {
			Promise.all([banner(),tui(),alge()]).then((res)=>{
				this.banner = res[0]
				this.list = res[1].result
				this.list1 = res[2].result
			})
		},
		methods: {
			golist(id){
				uni.navigateTo({
					url:'./../song/song?id='+id
				})
			}
		},
	}
</script>

<style lang="scss"  >
	.w_top{
		background-color: white;
		z-index: 99;
		margin-top: 16rpx;
		position: fixed;
		top: -10px;
		width: 100%;
		text-align: center;
		font-size: 44rpx;
		line-height: 108rpx;
	}
	.ding{
		height: 108rpx;
	}
	.banner{
		
		margin-top: 16rpx;
		.img{
			border-radius: 10rpx;
			width: 100%;
			height: 300rpx;
		}
	}
	
	.w1{
		 overflow: auto;
		 
		.nav{			
			margin-top: 20rpx;
			white-space: nowrap;
			li{
				display: inline-block;
				margin-left: 20rpx;
				width: 20%;
				font-size: 22rpx;
				.quan{
					margin: 0px auto;
					width: 65%;
					height: 90rpx;
					background-color: #e7a4b3;
					border-radius: 50%;
				}
				.image{
					margin-left: 25%;
					margin-top: 18rpx;
					line-height: 90rpx;
					width: 50%;
					height: 50rpx;
				}
				p{
					text-align: center;
					width: 100%;
					box-sizing: border-box;
					margin-top: 6rpx;
				}
			}
		}
	}
	.w1::-webkit-scrollbar {
	   width: 0 !important ;
	 }
	 .recommend {
		 margin-top: -50rpx;
	     .tops {
			 display: flex;
			 flex-direction: row;
			 justify-content: space-between;
	       margin-top: 0.325rem;
	       .left {
	         font-size: 1.5rem;
	         font-weight: 900;
	       }
	       .right {
	         a {
	           margin-top: 0.375rem;
	           text-align: center;
	           display: inline-block;
	           font-size: 0.475rem;
	           padding: 0.1rem 0.5rem;
	           border: 1px solid #ccc;
	           border-radius: 1rem;
	           color: black;
	           font-weight: 700;
	         }
	       }
	     }
	     ul {
	       position: relative;
	       margin-top: 0.6rem;
	       overflow: auto;
	       white-space: nowrap;
	       width: 100%;
	       p {
	         margin-top: 0.4375rem;
	         font-size: 0.75rem;
	         line-height: 0.95rem;
	         white-space: pre-wrap;
	         height: 2rem;
	         overflow: hidden;
	         /* 文本溢出显示省略号 */
	         text-overflow: ellipsis;
	         /* 让里面的内容弹性布局 */
	         display: -webkit-box;
	         /* 要显示的行数 */
	         -webkit-line-clamp: 2;
	         -webkit-box-orient: vertical;
	       }
	       .bao {
	         margin-left: 10px;
	         width: 6rem;
	         display: inline-block;
	         li {
	           .boxs {
	             img {
	               width: 100%;
	               border-radius: 0.625rem;
	             }
	           }
	         }
	       }
	 
	       .lun {
	         position: absolute;
	         display: inline-block;
	         width: 6rem;
	         height: 8.2375rem;
	         .van-swipe {
	           height: 8.2375rem;
	           img {
	             width: 100%;
	             border-radius: 0.625rem;
	           }
	           p {
	             height: 2.2rem !important;
	           }
	         }
	       }
	     }
	     ul::-webkit-scrollbar {
	       width: 0 !important ;
	     }
	 }
	
	.single {
	  .w {
	    .tops {
				 display: flex;
				 flex-direction: row;
				 justify-content: space-between;
	      margin-top: 0.325rem;
	      .left {
	        font-size: 1rem;
	        font-weight: 900;
	      }
	      .right {
	        a {
	          margin-top: 0.375rem;
	          text-align: center;
	          display: inline-block;
	          font-size: 0.475rem;
	          padding: 0.1rem 0.5rem;
	          border: 1px solid #ccc;
	          border-radius: 1rem;
	          color: black;
	          font-weight: 700;
	        }
	      }
	    }
	      ul {
			  overflow: auto;
			  white-space: nowrap;
	        li {
			display: inline-block;
			margin-left: 20rpx;
	          margin-top: 0.625rem;
	          width: 28%;
	          .box1 {
	            img {
	              width: 100%;
	              border-radius: 10px;
	            }
	          }
				  
	          .box2 {
				  
	            line-height: 1.2rem;
	            width: 70%;
	            font-size: 0.875rem;
	            font-weight: 900;
				overflow: hidden;
				/* 文本溢出显示省略号 */
				text-overflow: ellipsis;
				/* 让里面的内容弹性布局 */
				display: -webkit-box;
				/* 要显示的行数 */
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
	            p {
					
	              font-weight: 100;
	              font-size: 0.75rem;
	            }
	          }
	          .box3 {
	            line-height: 2.3rem;
	            width: 15%;
	            .zi {
	              font-size: 1.25rem !important;
	            }
	          }
	        }
	    }
	  }
	}
	
</style>